/* General styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f4f5; /* Light background for better contrast */
  }
  
  /* Forgot password container */
  .forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure form takes up the entire viewport height */
  }
  
  /* Form styles */
  .forgot-password-container form {
    background-color: #a5667e8f;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 350px; /* Reasonable form width */
  }
  
  .forgot-password-container form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .forgot-password-container form input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  .forgot-password-container form button[type="submit"] {
    background-color: #24c82a; /* Green color for submit button */
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .forgot-password-container form button[type="submit"]:hover {
    background-color: #3e8e41; /* Darker green on hover */
  }

  .no{
    color: black;
  }